/*fontes iniciais passivo de mudança perante discução entre colaboradores*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*estilizações gerais*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    /*colocar a font family escolhida conforme html/google*/
}

body{
    height: 100vh;
}

.first{
    height: 20px;
    max-width: 1280px;
    margin: 0 auto;
}

/*estilizações do header*/

header{
    padding: 20px 5%;
    background-color: black;
}

header > .first{
    display: flex;
    align-items: center;
    justify-content: space-between
}

header a {
    display: inline-block;
    color: white; /* ou qualquer cor que você desejar */
    text-decoration: none;
    transition: all 0.5s;
    font-family:'Poppins', sans-serif;
}

#logo1{
    margin: 0;
    padding: 0;
    width: 200px;
    height: auto;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
    
}

.search-container{
   position: relative;
}

#search-button{
background-color: rgba(255, 123, 0, 0.763);
color: #ccc;
border: none;
padding: 10px;
border-radius: 5px;
cursor: pointer;
}


#search-input{
    width:0px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition:all 0.4s;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

#search-input.active {
    width: 200px;
    opacity: 1;
    pointer-events: auto;
    margin-left: 45px;
    border-color: #fdfdfd;
    outline: none;
}

header .botao button{
    padding: 10px 30px;
    /*font-weight: 700px;
    font-size: 15px;*/
    background-color: rgb(255, 123, 0);
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s;
}

header .botao button:hover{
    transform: scale(1.15);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.faixa{
    margin-top: 0;
    display: flex;
    background-color: rgb(255, 123, 0);
    height: 120px;
}

#bgsec1{
    height: auto;
    width: 100%;
    margin-bottom: 0;
}

.sessao1 {
    height: 500px;
    background-color: black;
}

.faixa{
    padding: 0;
    display: flex;
    justify-content: space-between;
}

